$colors: (
    bg-color:               #ffffff,
    second-bg-color:        #faf9ff,
    second:                 #828fff,
    gradient: linear-gradient(to right, #828fff 0%, #61bdfc 100%),
    txt:                   #999999,
    txt-fonce:              #000000,
    txt-clair:             #ffffff,
    hover:                  #828fff,
    footer:                  #05071c,
    bg:                     #1a1b22,
    title:                  #0000ff
);

$fonts: (
    main:       'Roboto', 
    title:      'Verdana'
);