.blog-banner {
    background-image:  url(../images/blog/blog-home-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* On met en place le fond d'écran */
    min-height: 800px;
    min-width: 100%;
}

.blog-banner-layout {
    background-color: rgba($color: #000000, $alpha: 0.5);
    min-height: 800px;
}

.blog-banner h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
    color: map-get($colors , txt-clair );
}

.blog-banner p {
    color: map-get($colors , txt-clair );
    text-align: center;
}

.blog-banner .bouton {
    text-align: center;
}

.blog-banner button {
    background: map-get($colors , txt-clair );
    color: map-get($colors , txt-fonce );
}

.blog-themes {
    padding-top: 5rem;
}

.sociallife {
    display: block;
    max-height: 220px;
    
}

.blog-themes-image {
    max-width: none;
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
}

.blog-themes-texte {
    height: auto;
    max-width: 320px;
    z-index: 200;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    text-align: center;
    color: map-get($colors , txt-clair );
    padding-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.7);  
    text-decoration: none;  
}

.blog-themes-texte h3 {
    color: map-get($colors , txt-clair );
    padding-top: 2rem;
}



.sociallife-img {
    background: url(../images/blog/cat-widget1.jpg) no-repeat center;
	position: relative;
	top: 0rem;
	height: 100%;
}

.post-infos {
    font-size: 0.8rem;
}

.post-infos .lnr {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    color: map-get($colors , txt );
}

.post-infos-date time {
    margin: 0;
}

aside {
    border: 1px solid map-get($colors , contour );
    background: map-get($colors , aside-bg-color );
    margin: 5rem 0 1rem 1rem;
}

aside h2 {
    padding: 0.7rem;
    background-color: map-get($colors , second );
    font-size: 17px;
    color: map-get($colors , txt-clair );
    display: block;
}

.blog-bandeau {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.blog-search {
    padding: 3rem 0rem 2rem 0rem;
    border-bottom: 1px solid map-get($colors , contour );
}

.blog-search form, .blog-search input {
    background: map-get($colors , second );
    border: none;
    height: 2.5rem;
    color: map-get($colors , txt-clair );
    border-radius: 20px;
    padding: 0 2rem 0 0.5rem;
}

span.lnr.lnr-magnifier {
    margin-top: 10px;
}

.blog-articles {
    margin-top: 5rem;
}

.blog-author img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0 3rem 0;
}

.blog-author {
    text-align: center;
    border-bottom: 1px solid map-get($colors , contour );
    padding-bottom: 3rem;
}

.blog-author-name p {
    font-size: 17px;
    font-weight: 1000;
    color: map-get($colors , txt-fonce );
    padding-bottom: 0.5rem;
}

.blog-author-follow i {
    color: map-get($colors , txt-fonce );
    font-size: 1rem;
}

.blog-popularpost section {
    margin: 2rem 0 3rem 0;
    padding-bottom: 3rem;
    border-bottom: 1px solid map-get($colors , contour );
}

.blog-popularpost article {
    margin: 2rem 0 0 0;
}

.blog-popularpost h3 {
    font-size: 1rem;
    padding: 0 0 0 1rem;
}

.blog-popularpost h3 a {
    text-decoration: none;
    color: map-get($colors , txt-fonce );
}

.blog-bandeau time-ago {
    padding: 0 0 0 1rem;
    margin: 0;
}

.blog-encartpub {
    margin: 2rem 0 3rem 0;
    padding-bottom: 3rem;
    border-bottom: 1px solid map-get($colors , contour );
}

.blog-postcat tr {
    border-top: 1px  map-get($colors , contour ) dotted;
    height: 3rem;
}

.blog-postcat table {
    table-layout: unset;;
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: 1px solid map-get($colors , contour );
}

.blog-postcat table td:nth-child(2) {
    text-align: right;
}

.blog-postcat table td {
    border-bottom: 1px  map-get($colors , contour ) dotted;
}

.blog-newsletter {
    margin: 2rem 0 3rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid map-get($colors , contour );
}

.blog-newsletter h2 {
    margin-bottom: 2rem;
}

.blog-newsletter p {
    text-align: center;
    margin-bottom: 2rem;
}

.blog-newsletter form, .blog-newsletter input {
    height: 2.5rem;
    margin-bottom: 2rem;
}

button.blog-newsletter-btn {
    height: 2.5rem;
    font-size: 10px;
    background: map-get($colors , gradient );
    color: map-get($colors , txt-clair );
    border: none;
}



.blog-newsletter input {
    width: 70%;
}

.blog-newsletter button {
    width: auto;
}

.blog-tag span {
    line-height: 3rem;
    padding: 0.5rem 1rem;
    border: 1px solid map-get($colors , contour );
}

.blog-tag h2 {
    margin-bottom: 2rem;
}

.blog-tag {
    margin-bottom: 3rem;
}

.blog-tag a {
    text-decoration: none;
    color: map-get($colors , txt );
}

@media screen and (min-width: 768px) {

    .blog-articles .post {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
    }
    
}


@media screen and (min-width: 992px) {

}


